<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483099337373-ip9hf50lbr0s2gn7fclqpu28sa46u1l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483099337373-ip9hf50lbr0s2gn7fclqpu28sa46u1l8</string>
	<key>API_KEY</key>
	<string>AIzaSyBeERlPBtydgscPFeOJImjhiKr_ELGfT2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>483099337373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studycat</string>
	<key>PROJECT_ID</key>
	<string>studycat-ff601</string>
	<key>STORAGE_BUCKET</key>
	<string>studycat-ff601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483099337373:ios:f062e09aefa39c886daa74</string>
</dict>
</plist>